streamlit
streamlit-extras
streamlit-faker
streamlit-card
streamlit-keyup
streamlit-embedcode
streamlit-image-coordinates
streamlit-camera-input-live
streamlit-toggle-switch
streamlit-vertical-slider
haystack-ai
farm-haystack
markdownlit
markdown-it-py
accelerate
bitsandbytes
trafilatura
datasets
openpyxl
pypdf
pymupdf
pymupdf4llm
mdit-plain
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
tensorflow
tokenizers
transformers
huggingface-hub
sentence-transformers
openai

farm-haystack[colab,preprocessing,inference]
farm-haystack-text2speech
