streamlit
#streamlit-extras
#streamlit-faker
#streamlit-card
#streamlit-keyup
#streamlit-embedcode
#streamlit-image-coordinates
#streamlit-camera-input-live
#streamlit-toggle-switch
#streamlit-vertical-slider
haystack-ai
haystack-experimental
#farm-haystack
#farm-haystack[colab,preprocessing,inference]
#farm-haystack-text2speech
neo4j-haystack
markdownlit
markdown-it-py
accelerate
bitsandbytes
trafilatura
datasets
openpyxl
spacy # run "spacy info" or "spacy validate"
spacy-streamlit
#python3 -m spacy download en_core_web_sm   # ner model
#python3 -m spacy download en_core_web_md   # ner model
#python3 -m spacy download en_core_web_lg   # similarity model
pypdf
pymupdf
pymupdf4llm
mdit-plain
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
tensorflow
tokenizers
transformers
huggingface-hub
sentence-transformers
openai
